<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/vue.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>to do</title>
</head>
<body>
<h1 class="title">To Do list</h1>
    <div id="app">
        <form class="cardForm" @submit.prevent="addCard">
            <p>
                <label for="GroupName">Название:</label>
                <input id="GroupName" v-model="groupName" placeholder="название">
            </p>
            <p>
                <label for="InputOne">Действие 1:</label>
                <input id="InputOne" v-model="inputOne" placeholder="Действие ">
            </p>
            <p>
                <label for="InputTwo">Действие 2:</label>
                <input id="InputTwo" v-model="inputTwo" placeholder="Действие ">
            </p>
            <p>
                <label for="InputThr">Действие 3:</label>
                <input id="InputThr" v-model="inputThr" placeholder="Действие ">
            </p>
            <p>
                <label for="InputFor">Действие 4:</label>
                <input id="InputFor" v-model="inputFor" placeholder="Действие ">
            </p>
            <p>
                <input type="submit" value="Добавить">
            </p>
        </form>
        <div class="columns" style="display: flex; justify-content: space-evenly; ">
            <div class="column">
                <h2>Колонка один</h2>
                <div class="card" v-for="group in firstColumn" :key="group.id">
                    <h3>{{group.groupName}}</h3>
                    <ul>
                        <li v-for="item in group.items" :key="item.id">
                            <input type="checkbox" v-model="item.checked" @change="updateProgress(group)">
                            {{ item.text }}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="column">
                <h2>Колонка два</h2>
                <div class="card" v-for="group in secondColumn" :key="group.id">
                    <h3>{{group.groupName}}</h3>
                    <ul>
                        <li v-for="item in group.items" :key="item.id">
                            <input type="checkbox" v-model="item.checked" @change="updateProgress(group)">
                            {{ item.text }}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="column">
                <h2>Колонка три</h2>
                <div v-for="group in thirdColumn" :key="group.id">
                    <div class="card">
                        <h3>{{ group.groupName }}</h3>
                        <ul>
                            <li v-for="item in group.items" :key="item.id">
                                <input type="checkbox" v-model="item.checked">
                                {{ item.text }}
                            </li>
                        </ul>
                        <p v-if="group.isComplete">{{ group.lastChecked }}</p>
                        <button @click="deleteGroup(group.id)">Удалить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="./js/main.js"></script>
</body>
</html>
